<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EV</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/favicons/ev.png" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Bootstrap Link (to be added before other stylesheet links) -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="../static/css/ev.css" />
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
      <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
          <div
            class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start"
          >
            <h2>Welcome to <span>EV</span></h2>
            <p>
              A EV is defined as a vehicle that can be powered by an electric
              motor that draws electricity from a battery and is capable of
              being charged from an external source.
            </p>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started">Get Started</a>
              <a
                href="https://www.youtube.com/watch?v=-EG6rqA2vvA"
                class="glightbox btn-watch-video d-flex align-items-center"
                ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
              >
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img
              src="../static/images/EV/hero-img.svg"
              class="img-fluid"
              alt=""
              data-aos="zoom-out"
              data-aos-delay="100"
            />
          </div>
        </div>
      </div>

      <div class="icon-boxes position-relative">
        <div class="container position-relative">
          <div class="row gy-4 mt-5">
            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-easel"></i></div>
                <h4 class="title">
                  <a href="" class="stretched-link">Lower running costs</a>
                </h4>
              </div>
            </div>
            <!--End Icon Box -->

            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-gem"></i></div>
                <h4 class="title">
                  <a href="" class="stretched-link">Low maintenance cost </a>
                </h4>
              </div>
            </div>
            <!--End Icon Box -->

            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-geo-alt"></i></div>
                <h4 class="title">
                  <a href="" class="stretched-link">
                    Zero Tailpipe Emissions
                  </a>
                </h4>
              </div>
            </div>
            <!--End Icon Box -->

            <div
              class="col-xl-3 col-md-6"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon-box">
                <div class="icon"><i class="bi bi-command"></i></div>
                <h4 class="title">
                  <a href="" class="stretched-link"
                    >Tax and financial benefits
                  </a>
                </h4>
              </div>
            </div>
            <!--End Icon Box -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>About EVs</h2>
            <p>
              It can be powered by a collector system, with electricity from
              extravehicular sources
            </p>
          </div>

          <div class="row gy-4">
            <div class="col-lg-6">
              <h3>History of EVs</h3>
              <img
                src="../static/images/EV/img/about.jpg"
                class="img-fluid rounded-4 mb-4"
                alt=""
              />
              <p>
                EVs first came into existence in the late 19th century, when
                electricity was among the preferred methods for motor vehicle
                propulsion, providing a level of comfort and ease of operation
                that could not be achieved by the gasoline cars of the time.
                Internal combustion engines were the dominant propulsion method
                for cars and trucks for about 100 years, but electric power
                remained commonplace in other vehicle types, such as trains and
                smaller vehicles of all types.
              </p>
              <p>
                Electric motive power started in 1827, when Hungarian priest
                Ányos Jedlik built the first crude but viable electric motor,
                which used a stator, rotor, and commutator; and the next year he
                used it to power a small car.
              </p>
            </div>
            <div class="col-lg-6">
              <div class="content ps-0 ps-lg-5">
                <p class="fst-italic">
                  In 1835, professor Sibrandus Stratingh of the University of
                  Groningen, in the Netherlands, built a small-scale electric
                  car
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check-circle-fill"></i> Due to lack of
                    electricity grids and the limitations of storage batteries
                    at that time, electric cars did not gain much popularity;
                    however, electric trains gained immense popularity due to
                    their economies and achievable speeds.
                  </li>
                </ul>
                <p>
                  American blacksmith and inventor Thomas Davenport built a toy
                  electric locomotive, powered by a primitive electric motor, in
                  1835. In 1838, a Scotsman named Robert Davidson built an
                  electric locomotive that attained a speed of four miles per
                  hour (6 km/h). In England a patent was granted in 1840 for the
                  use of rails as conductors of electric current, and similar
                  American patents were issued to Lilley and Colten in 1847.
                </p>

                <div class="position-relative mt-4">
                  <img
                    src="../static/images/EV/img/about-2.jpg"
                    class="img-fluid rounded-4"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Our Services Section ======= -->
      <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Types of EVs</h2>
          </div>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <h3>Pure-electric vehicles</h3>
                <p>
                  A pure-electric vehicle or all-electric vehicle is powered
                  exclusively through electric motors. The electricity may come
                  from a battery (battery electric vehicle), solar panel (solar
                  vehicle) or fuel cell (fuel cell vehicle).
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <h3>Hybrid EVs</h3>
                <p>
                  A hybrid electric vehicle (HEV) is a type of hybrid vehicle
                  that combines a conventional internal combustion engine (ICE)
                  system with an electric propulsion system (hybrid vehicle
                  drivetrain).
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <h3>REEV</h3>
                <p>
                  A range-extended electric vehicle (REEV) is a vehicle powered
                  by an electric motor and a plug-in battery. An auxiliary
                  combustion engine is used only to supplement battery charging
                  and not as the primary source of power.
                </p>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- End Our Services Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Testimonials</h2>
            <p>
              Let's hear what some eminent personalities have to say about EVs
            </p>
          </div>

          <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img
                        src="../static/images/EV/elon.jpg"
                        class="testimonial-img flex-shrink-0"
                        alt=""
                      />
                      <div>
                        <h3>Elon Musk</h3>
                        <h4>Ceo &amp; Founder: Tesla, SpaceX</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      It's a good thing, and they need to bring it to market and
                      keep iterating and improving and make better and better
                      electric cars, and that's what going to result in humanity
                      achieving a sustainable transport future. I wish it was
                      growing faster than it is.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img
                        src="../static/images/EV/henrik.jpg"
                        class="testimonial-img flex-shrink-0"
                        alt=""
                      />
                      <div>
                        <h3>Henrik Fisker</h3>
                        <h4>CEO of Fisker Inc.</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i
                          ><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      The car industry has invested a lot in hybrid, but my
                      opinion is electric cars will take over a lot of hybrids
                      quicker than people think now.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- Bootstrap JS -->
      <!-- JavaScript Bundle with Popper -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
      ></script>
    </main>
  </body>
</html>
